<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add User</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	        <a class="navbar-brand" href="#">OLX</a>
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	            <ul class="navbar-nav mr-auto">
	                <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Categoria
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="/signcategoria">Gestion Categorias</a>
				          <a class="dropdown-item" href="/listacat">Lista de Categorias</a>
				    </li>
	                <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Subcategoria
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="/singsubcategoria">Gestion SubCategorias</a>
				          <a class="dropdown-item" href="/listasubca">Lista de SubCategorias</a>
				    </li>
	                <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Usuarios
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="#">Gestion Usuario</a>
				          <a class="dropdown-item" href="/listauser">Lista de Usuarios</a>
				    </li>
	                <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Productos
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="/singproducto">Gestion Producto</a>
				          <a class="dropdown-item" href="/productos-disponibles">Productos Disponibles</a>
				          <a class="dropdown-item"
							href="/listapro">Listado de Productos</a>
				        </div>
				    </li>
				    <li class="nav-item">
	                    <a class="nav-link" href="nuevo-chat">Gestion Chat</a>
	                </li>
	            </ul>
	        </div>
	    </nav>
        <div class="container my-5">
            <h2 class="mb-5">New User</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/addusuario}" th:object="${usuario}" method="post">
                        <div class="row">    
                            <div class="form-group col-md-6">
                                <label for="id" class="col-form-label">Cedula</label>
                                <input type="number" th:field="*{id.dni}" class="form-control" id="id" placeholder="..." required="required">
                                <span th:if="${#fields.hasErrors('id.dni')}" th:errors="*{id.dni}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="correo" class="col-form-label">Correo</label>
                                <input type="email" th:field="*{id.correo}" class="form-control" id="correo" placeholder="ejemplo@gma.com" required="required">
                                <span th:if="${#fields.hasErrors('id.correo')}" th:errors="*{id.correo}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nombre" class="col-form-label">Nombres</label>
                                <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Nombre" required="required">
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="apellido" class="col-form-label">Apellido</label>
                                <input type="text" th:field="*{apellido}" class="form-control" id="apellido" placeholder="Apellidos" required="required">
                                <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password" class="col-form-label">Password</label>
                                <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="" required="required">
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="direccion" class="col-form-label">Direccion</label>
                                <input type="text" th:field="*{direccion}" class="form-control" id="direccion" placeholder="..." required="required">
                                <span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fechaNacimiento" class="col-form-label">Fecha de Nacimiento</label>
                                <input type="text" th:field="*{fechaNacimiento}" class="form-control" id="fechaNacimiento" placeholder="DD/MM/YYYY" required="required">
                                <span th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="telefono" class="col-form-label">Telefono</label>
                                <input type="number" th:field="*{telefono}" class="form-control" id="telefono" required="required">
                                <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Add User">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>