<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Chatear</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
<body>
	<div class="container my-5">
	            <h2 class="mb-5">Comenzar una conversación</h2>
	            <div class="row">
	                <div class="col-md-6">
	                    <form action="#" th:action="@{/crearchat}" th:object="${chat}" method="post">
	                        <div class="row">
	                        
	                            <div class="form-group col-md-6">
	                            	<label for="validationTooltip04">Cliente</label>
	                      			<select th:field="*{usuario1.id.dni}" class="custom-select" id="validationTooltip04"  >
	                        			<option th:each="cliente:${usuarios}" th:value="${cliente.id.dni}"
	                        			th:text="${cliente.nombre}" th:selected="false"/>
	                    			</select>
	                    			<div class="invalid-tooltip">
	                        			Por favor seleccione un cliente
	                    			</div>
	                            </div>
	                            <div class="form-group col-md-6">
	                            	<label for="validationTooltip04"></label>
	                      			<select th:field="*{usuario1.id.correo}" class="custom-select" id="validationTooltip04"  >
	                        			<option th:each="cliente:${usuarios}" th:value="${cliente.id.correo}"
	                        			th:text="${cliente.apellido}" th:selected="false"/>
	                    			</select>
	                    			<div class="invalid-tooltip">
	                        			Por favor seleccione un cliente
	                    			</div>
	                            </div>
	                            
	                            <div class="form-group col-md-6">
	                            	<label for="validationTooltip04">Ofertador</label>
	                      			<select th:field="*{usuario2.id.dni}" class="custom-select" id="validationTooltip04"  >
	                        			<option th:each="ofertador:${usuarios}" th:value="${ofertador.id.dni}"
	                        			th:text="${ofertador.nombre}" th:selected="false"/>
	                    			</select>
	                    			<div class="invalid-tooltip">
	                        			Por favor seleccione un ofertador
	                    			</div>
	                            </div>
	                            <div class="form-group col-md-6">
	                            	<label for="validationTooltip04"></label>
	                      			<select th:field="*{usuario2.id.correo}" class="custom-select" id="validationTooltip04"  >
	                        			<option th:each="ofertador:${usuarios}" th:value="${ofertador.id.correo}"
	                        			th:text="${ofertador.apellido}" th:selected="false"/>
	                    			</select>
	                    			<div class="invalid-tooltip">
	                        			Por favor seleccione un ofertador
	                    			</div>
	                            </div>
	                            
	                        </div>
	                        <div class="row">
	                            <div class="col-md-6 mt-5">
	                                <input type="submit" class="btn btn-primary" value="Comenzar a Chatear">
	                            </div>
	                        </div>    
	                    </form>
	                </div>
	            </div>
	        </div>
	        <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>