<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>SubCategorias</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	        <a class="navbar-brand" href="#">OLX</a>
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	            <ul class="navbar-nav mr-auto">
	                <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Categorías
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="signcategoria">Agregar Categoría</a>
				          
				          <a class="dropdown-item" href="listacat">Lista de Categorías</a>
				    </li>
	                <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Subcategorías
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="singsubcategoria">Agregar SubCategorías</a>
				          <a class="dropdown-item" href="listasubca">Lista de SubCategorías</a>
				    </li>
	                <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Usuarios
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="/admin/add-usuario">Agregar  Usuario</a>
				          <a class="dropdown-item" href="/admin/listauser">Lista de Usuarios</a>
				    </li>
	                <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Productos
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="/user/singproducto">Agregar Producto</a>
				          <a class="dropdown-item" href="/admin/listapro">Listado de Productos</a>
				        </div>
				    </li>
				    
	                <form th:action="@{/logout}" method="post" class="col-md-2">
            			<input type="submit" class="btn btn-primary" value="Cerrar Sesion"/>
        			</form>
	            </ul>
	        </div>
	    </nav>
        <div th:switch="${subcategorias}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null" th:text="#{lista-subCategoria.title}">Lista de SubCategorias</h2>
                    <div th:case="*">
                        <h2 class="my-5" th:text="#{lista-subCategoria.title}">Lista de SubCategorias</h2>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th th:text="#{subcategoria.id}">IdSubCategoria</th>
                                    <th th:text="#{subcategoria.name}">Nombre De la SubCategoria</th>
                                    <th th:text="#{subcategoria.categoria}">Categoria</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="subcategoria : ${subcategorias}">
                                    <td th:text="${subcategoria.idSubCategoria}"></td>
                                    <td th:text="${subcategoria.nombre}"></td>
                                    <td th:text="${subcategoria.categoria.nombre}"></td>
                                    
                                    <td><a th:href="@{/editSubCategoria/{idSubCategoria}(idSubCategoria=${subcategoria.idSubCategoria})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                    <td><a th:href="@{/deleteSubCategoria/{idSubCategoria}(idSubCategoria=${subcategoria.idSubCategoria})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <p class="my-5"><a href="/singsubcategoria" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>